[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tree-sitter = "*"
ipdb = "*"
tree-sitter-python = "*"
tree-sitter-javascript = "*"
tree-sitter-typescript = "*"
tree-sitter-bash = "*"
directory-tree = "*"
markdownify = "*"
requests = "*"
gitwalk = "*"
anki = "*"

[dev-packages]

[requires]
python_version = "3.13"
